<form [formGroup]="form" (submit)="addNewItem()">
  <label>
    Name:
    <input type="text" formControlName="newItemName">
  </label>
  <br>
  <label>
    Description:
    <input type="text" formControlName="newItemDescription">
  </label>
  <br>
  <button type="submit">Add Item</button>
</form>

<button (click)="createNestedDoc()">Create nested document</button>
<br>

<hr>

<br>

<ul>
  <li *ngFor="let item of items">
    {{ item.name }} - {{ item.description }} <span><button (click)="deleteItem(item.name)">delete</button></span>
  </li>
</ul>
<router-outlet></router-outlet>
